.upArrow{
    position: fixed;
    bottom:4%;
    right:4%;
    font-size: 1.3rem;
    background-color:azure;
    border: 1px solid black;
    color:black;
    border-radius: 10px;
    padding:10px 13px 6px 13px;
    transition: all ease 0.3s;
    z-index: 1000;
}
.upArrow:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.upArrow:active{
    transform: scale(0.95);
}